@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons';

//-- local overrides
@import 'scss/utilities';
@import 'scss/navbar';


body {
  margin: 0;
  font-family: 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e4e4e4;
}
:focus-visible {
  outline: 2px solid $chuck;
  padding: 2px 4px;
  margin-top: 6px;
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.matchdate, .matchresult {
  margin: 1rem 0 0;
}
small {
  font-size: 1rem;
  font-weight: 600;
}
img.circle-right {
  float: right;
  border-radius: 50%;
  shape-outside: circle(50%);
  margin: 0 0 1rem 1rem;
  box-shadow: 0 0 10px $barbie;
}
img.circle-left {
  float: left;
  border-radius: 50%;
  shape-outside: circle(50%);
  padding: 1rem;
}
.scores {
  font-size: 2.25rem;
  line-height: 2.75rem;
  background: white;
  border: 1px solid #ddd;
  border-radius: .5rem;
  display: inline-block;
  margin: .5rem auto;
  padding: .75rem 0;
  width: 7rem;
  b {
    color: $claret; 
    background: $amber;
    padding: .25rem .5rem;
    border-radius: .5rem;
  }
}
ul.no-bullets,
.no-bullets li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0.25rem;
}
.card {
  box-shadow: 0 0 .35rem #888;
  background: white;
  margin-bottom: 1.5rem !important;

  .card-header {
    background: #dfdfdf;
    font-size: 1.25rem;
    
    i.bi {
      margin-right: 1rem;
      color: $amber;
      background: white;
      border-radius: 50%;
      box-shadow: 0 0 4px $amber;
      width: 2.2rem;
      height: 2.2rem;
      line-height: 2.2rem;
      text-align: center;
      display: inline-block;
    }
  }
}
.cards {
  display: inline-block;
  width: 1rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border: 1px solid #888;
  box-shadow: 0 0 .333rem #888;
  margin: .75rem .5rem 0 0;
  &.red {background: red;}
  &.yellow {background: yellow;}
}

.goal-scorers {
  width: 100%;
  height: 75vh;
  background: white;
  border: 1px solid #ccc;
  border-radius: .75rem;
  box-shadow: 0 0 .35rem #888;
  padding: 2rem;
  margin-bottom: 1.2rem;
}

//--  modal button for football chart
#modalBtn {
  visibility: hidden;
}

//--  Win Lose or Draw
.wld-box {
  clear: both;
  margin: .5rem 0 0 !important;

  .wld {
    border-radius: .5rem;
    padding: .25rem .75rem;
    box-shadow: 0 0 .35rem #888;
  }
}

//--  react users
.user {
  margin: 0 0 2rem;
  padding: 1rem 1rem .25rem;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: .5rem;

  img.picture {
    float: left;
    border: .5rem solid white;
    border-radius: .5rem;
    box-shadow: 0 0 .75rem #ddd;
    margin: 0 1rem 1rem 0;
  }

  .address, .contact {
    font-size: .9rem;
  }
  .contact {
    clear: both;
    p {margin: 0 0 1rem;}
    a {
      background: white;
      padding: .25rem .5rem;
      text-decoration: none;
      border: 1px solid transparent;
      border-bottom: 1px dashed $amber;
      &:hover {
        border: 1px solid $amber;
      }
    }
  }
}

.code-sample {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.925rem;
  background: $code-bg;
  color: $chuck;
  padding: .5rem 1rem .25rem;
  margin: 0 0 1rem;
  border-radius: .5rem;
}

//--  dynamic tabs
.tabs__box {
  margin: 0 0 1.25rem;
}
.tabs__box:after {
  content: "";
  margin: -2px 0 0;
  display: block;
  border-bottom: 2px solid #ccc;
}
.tabs__tab {
  text-decoration: none;
  display: inline-block;
  padding: 1rem .75rem;
  border: 1px solid transparent;
  outline: none;
  font-size: .9rem;
  font-weight: 600;
  background: transparent;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 .25rem 0 0;
  cursor: pointer;
}
.tabs__tab:hover {
  color: rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.04);
  border-radius: .5rem .5rem 0 0;
}
.tabs__tab:focus{
  color: rgba(0, 0, 0, 0.8);
  background: white;
  border-radius: .5rem .5rem 0 0;
  border: 2px solid #ccc;
  border-bottom: none;
  outline: 2px solid $chuck;
  margin-top: 1px;
}
.tabs__tab-active {
  color: $claret;
  background: #fefefe;
  border-radius: .5rem .5rem 0 0;
  border: 2px solid #ccc;
  border-bottom: none;
}
.tabs__tab-active:after {
  content: "";
  display: block;
  padding-top: 1rem;
  margin-bottom: -1rem;
  border-bottom: 2px solid $amber;
}
.tabcontent {
  background: white;
  border: 2px solid #ccc;
  border-top: none;
  border-radius: 0 0 1rem 1rem;
  margin: -1.2rem 0 2rem;
  padding: 1rem;
}
