body {
    padding: 1rem 2rem;
    text-align: center;
    background: whitesmoke;
}

header {
    display: grid;
    grid-template-columns: 75px 1fr 6fr;
    grid-template-rows: 1;
    gap: 1rem;
    text-align: left;
    margin-bottom: 2rem;

    .logo { 
        height: 3rem;
        width: 3rem;
        img {
            max-width: 100%;
            border-radius: 50%;
            border: 5px solid white;
            box-shadow: 0 .25rem .75rem #ccc;
        }
    }
    .site-name {
        line-height: 3rem;
        font-size: 1.4rem;
        font-weight: 400;
    }
    .site-nav {
        text-align: right;
        ul, li {
                display: inline-block;
                margin: 0;
                padding: 0;
                line-height: 2.2rem;
                font-size: 1rem;
        }
        a {
            display: block;
            padding: 0 1rem;
            margin-left: .1rem;
            text-decoration: none;
            color: black;
            text-shadow: 0 1px 1px white;
            border-radius: 1.1rem;

            &:hover, &:focus {
                background: white;
            }
        }
    }
}

main {
    margin: 0 auto;
    text-align: left;
    width: 80%;
    max-width: 1280px;
    
    .card {
        color: #4b4b4b;
        background: white;        
        box-shadow: 0 .25rem .75rem #ccc;
        border-radius: .5rem;
        padding: 1rem;
    }

    .home {
        .hero {
            border: 1px dashed #ddd;
        }
    }
}