.navbar {
    box-shadow: 0 2px 8px #ddd;
    max-height: 2.75rem;
    
    @media (max-width: 960px) {
        max-height: 5rem;
    }
    
    a {
        background: whitesmoke;
        color: #444;
        text-decoration: none;
        border-radius: .5rem;
        border: 2px solid whitesmoke;

        &:hover, &:focus {
            color: $amber;
            background: $claret;
        }
        &.active {
            background: $chuck;
            &:hover, &:focus {
                background: $barbie;
                color: white;
            }
        }
    }

    .navbar-toggler {
        margin-right: 1rem;
    }

    .navbar-brand {
        .logo {
            margin: 0 1rem 0 .75rem;
            height: 4rem;
            width: 4rem;
            border: .25rem solid white;
            border-radius: 50%;
            box-shadow: 0 0 .5rem #444;
        }
        a {
            margin-right: 4rem;
        }
    }

    .navbar-collapse.show {
        position: relative;
        left: 48%;
        max-width: 50% !important;
        margin: -.5rem 0 0;
        padding: 0;
        z-index: 1000;
        text-align: center;
        a {
            padding: 1rem;
            border: 2px solid $claret;
            box-shadow: 0 0 1rem #888;
            margin-bottom: .5rem;

            &:hover,
                &:focus {
                    color: $amber;
                    background: $claret;
                }
            
                &.active {
                    background: $chuck;
            
                    &:hover,
                    &:focus {
                        background: $barbie;
                        color: white;
                    }
                }
        }
        @media (max-width: 960px) {
            right:0;
            max-width: 100% important;    
        }
    }
}