.navbar {
    box-shadow: 0 2px 8px #ddd;
    max-height: 2.5rem;

    @media (max-width: 960px) {
        max-height: 5rem;
    }

    a {
        color: #444;
        text-decoration: none;
        

        &:hover, &:focus {
            color: $amber;
            background: $claret;
        }
        &.active {
            background: $chuck;
            &:hover, &:focus {
                background: $barbie;
                color: white;
            }

        }
    }

    .navbar-toggler {
        margin-right: 1rem;
    }

    .navbar-brand {
        .logo {
            margin: 0 1rem 0 .75rem;
            height: 4rem;
            width: 4rem;
            border: .25rem solid white;
            border-radius: 50%;
            box-shadow: 0 0 .5rem #444;
        }
        a {
            margin-right: 4rem;
        }
    }

    .navbar-collapse.show {
        border-radius: 1rem;
        box-shadow: 0 0 1rem #444;
        margin: 1rem;
        padding: 0 1rem;
        z-index: 100;
        background: #eee;
        text-align: center;
    }
}