.navbar {
    box-shadow: 0 2px 8px #ddd;
    height: 2.75rem;
    
    @media (max-width: 991px) {
        height: 5.5rem;
    }
    
    a {
        background: transparent;
        color: #444;
        text-decoration: none;

        &:hover, &:focus {
            color: $amber;
            background: $claret;
        }
        &.active {
            background: $chuck;
            &:hover, &:focus {
                background: $barbie;
                color: white;
            }
        }
    }

    .navbar-toggler {
        margin-right: 1rem;
    }

    .navbar-brand {
        .logo {
            margin: 0 1rem 0 .75rem;
            height: 4rem;
            width: 4rem;
            border: .25rem solid white;
            border-radius: 50%;
            box-shadow: 0 0 .5rem #444;
        }
        a {
            margin-right: 4rem;
        }
    }

    .navbar-collapse.show {
        position: absolute;
        top: 5.75rem;
        left: 0;
        width: 12rem !important;
        margin: 0;
        padding: 1rem;
        height: 100vh;
        z-index: 1000;
        text-align: center;
        border: 1px solid  #444;
        box-shadow: 0 0 1rem #888;
        background: white;
        a {
            margin-bottom: 1.5rem;
            border: 2px dashed #ddd;

            &:hover,
                &:focus {
                    color: $amber;
                    background: $claret;
                }
            
                &.active {
                    background: $chuck;
            
                    &:hover,
                    &:focus {
                        background: $barbie;
                        color: white;
                    }
                }
        }
    }
}